*{
  margin:0px;
}

.App {
  text-align: center;
  margin: 0px;
  padding:0px;
}

.App-header{
  background-color: #37c6f6;
  font-family: 'Roboto', sans-serif;
  height:18vh;
}

h1{
  padding:20px;
}

p{
  padding:20px 0px;
  line-height: 30px;
}

