*{
  margin:0px;
}

.App {
  text-align: center;
  margin: 0px;
  padding:0px;
}

.App-header{
  background-color: #37c6f6;
  font-family: 'Roboto', sans-serif;
  height:18vh;
}

h1{
  padding:20px;
}
h2{
  float:left;
  padding:50px;

}
p{
  padding:20px 0px;
  line-height: 30px;
}
#neuTodo{
  height:50px;
  width:90%;
  margin-top:20px;
  font-size:1.1rem;
  border: 1px solid grey;
  background-color: #EFECEC;
  padding-left:2%;
  border-radius: 5px;
}

.li-als-input{
background-color: transparent;
color: black;
border: 0px;
pointer-events: none;
padding: 15px;
}

ol{
  margin-top:100px;
  text-align: start;
  background-color: #93e4ff;
  width:90%;
  margin:auto;
  border-radius: 5px;
  margin-top:10px;
  background-color: #284e5b;
  background-color: white;
}

li{
  background-color: #284e5b;
  background-color: #807A7A;
  color:white;
  width:90%;
  margin:auto;
  border-radius: 5px;
  margin-top:10px;
  border:1px solid white;
  padding:5px;
  font-size: 1.2rem;;
  height:auto;
  
}


.delete-all{
  padding:5px;
  border-radius:5px;
  border:1px solid black;
  cursor: pointer;
  background-color: rgb(251, 126, 126);
  color:black;
  float:right;
  margin:5% 8%;
}
.delete-all:hover{
  color: white;
  background-color: rgb(100, 27, 27);
}


