*{
  margin:0px;
}

.App {
  text-align: center;
  margin: 0px;
  padding:0px;
}

.App-header{
  background-color: #37c6f6;
  font-family: 'Roboto', sans-serif;
  height:18vh;
}

h1{
  padding:20px;
}
h2{
  float:left;
  padding:50px;

}
p{
  padding:20px 0px;
  line-height: 30px;
}
#neuTodo{
  height:50px;
  width:80%;
  margin-top:15px;
  font-size:1.1rem;
  border: 1px solid grey;
  background-color: #EFECEC;
  padding-left:2%;
  border-radius: 5px;
}

.li-als-input{
background-color: transparent;
color: black;
border: 0px;
pointer-events: none;
padding: 15px;
}

ol{
  margin-top:100px;
  text-align: start;
  background-color: #93e4ff;
  width:90%;
  margin:auto;
  border-radius: 5px;
  margin-top:10px;
  background-color: #284e5b;
  background-color: white;
}

li{
  background-color: #284e5b;
  background-color: #807A7A;
  color:white;
  width:90%;
  margin:auto;
  border-radius: 5px;
  margin-top:10px;
  border:1px solid white;
  padding:5px;
  font-size: 1.2rem;;
  height:auto;
  
}
.delete-all{
  padding:5px;
  border-radius:5px;
  border:1px solid black;
  cursor: pointer;
  background-color: rgb(251, 126, 126);
  color:black;
  float:right;
  margin:5% 8%;
  padding:5px 10px;
  font-size:13px;
}
.delete-all:hover{
  color: white;
  background-color: rgb(100, 27, 27);
}

#addTodo{
  padding:8px;
  margin:3% 10px;
  cursor:pointer;
  background-color:lightblue;
  border:1px solid white;
  border-radius: 5%;
  font-size:1.1rem;
}

#addTodo:hover{
  border: 1px solid black;
  color:white;
  background-color: #284e5b;
}

label.todoText{
  padding-top:20px;
}

p#innerText{
  margin:0px;
  padding:0px;
}

/* CHECKBOX */
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-top:auto;
  margin-left:20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
li{
  height:70px;
}

.aufgabe{
  height:100px;
  width:100%;
  border: 1px solid black;
}